@(users: List[User], userForm: Form[User])

@main("Users List") { 
		
Total: @users.size users
 <table>
		<tr>
			<th>ID</th>
			<th>Name</th>
		</tr>		
        @users.map { user =>
            <tr>
				<td>@user.id</td>
				<td>@user.name</td>
				<td>@helper.form(routes.Application.deleteUser(user.id)) {<input type="submit" value="Delete">} </td>
            </tr>
        }

	@helper.form(routes.Application.newUser) {
        @helper.inputText(userForm("name"))<br/>
        @helper.inputPassword(userForm("password"))<br/>
        <input type="submit" value="Create">        
    }
</table>
}
