@(users: List[User], regForm: Form[(String, String)])

@main("Users List") { 
		
Total: @users.size users
 <table>
		<tr>
			<th>ID</th>
			<th>Name</th>
		</tr>		
        @users.map { user =>
            <tr>
				<td>@user.id</td>
				<td>@user.name</td>
				<td>@helper.form(routes.Application.deleteUser(user.id)) {<input type="submit" value="Delete">} </td>
            </tr>
        }

	@helper.form(routes.Application.newUser) {
        @helper.inputText(regForm("name"))<br/>
        @helper.inputPassword(regForm("password"))<br/>
        <input type="submit" value="Create">        
    }
</table>
}
