# Sample file for local configuration on developer workstation
#
#

include "common.conf"

db.default.driver=org.postgresql.Driver
db.default.url="jdbc:postgresql://localhost/messenger"
db.default.user=username
db.default.password="password"

test.db.default.driver=org.postgresql.Driver
test.db.default.url="jdbc:postgresql://localhost/integration_test"
test.db.default.user=username
test.db.default.password="password"

test.db.default.db_name=integration_test
